<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>My Website</title>
    <link href="favicon.ico" rel="icon" type="image/x-icon">
    <link href="styles.css" rel="stylesheet">
  </head>
  <body>
    <h1>Stacy welcomes you!</h1>
  </body>
</html>
